name: Java CI with Maven

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      #指定工作目录为 lab4
      - name: Build with Maven
        working-directory: ./lab4
        run: mvn -B compile
      
      - name: Run tests with Maven
        working-directory: ./lab4
        run: mvn -B test
