name: tests
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Verify Java version
      run: java --version
    
    - name: Build with Maven
      run: mvn -B compile
    
    - name: Run tests with Maven
      run: mvn -B test